<% @series.each do |entry| %>
	<div class="problem">
		<%= link_to series_path(entry) do %>
			<div class="title"><%= entry.title %> </div>
		<% end %>
		<div class="body"><%= truncate(entry.description, length: 300) %> </div>
		<div class="sparkchart"></div>
	</div>
<% end %>