<%= form_tag "/series", :id => "series_search", :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Search for a data series..." %>
  </p>
<% end %>

<div class="series">
<%= render 'series' %>
</div>


<script>
     $("#series_search input").keyup(function() {
      $.get($("#series_search").attr("action"), $("#series_search").serialize(), null, "script");
      return false;
    });
</script>

<style>
#series_search {
  margin-bottom: 10px;

}

</style>